* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #343535;
}

a {
  color: #343535;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

ul {
  list-style: none;
}

h1,
h2 {
  padding: 30px;
  text-align: center;
}

button {
  padding: 5px 10px;
}

.main_section {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  font-size: 2rem;
}

.main_section div + div {
  margin-top: 2rem;
}

.main_section input {
  margin: 0 10px;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
