* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.6rem;
  line-height: 1.0;
  letter-spacing: 0.03em;
  color: #343535;
}

a {
  text-decoration: none;
  color: #343535;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

ul {
  list-style: none;
}

h1 {
  padding: 16px 3%;
  text-align: center;
  font-size: 32px;
  color: #fff;
  background: #343535;
}

.main {
  width: 320px;
  margin: 0 auto;
  padding: 16px 3%;
}

.main .body_section + .body_section {
  margin-top: 48px;
}

.main .body_section {
  font-size: 1.6rem;
  font-weight: bold;
  color: #343535;
}

.main .body_section_title {
  margin-bottom: 16px;
  text-align: center;
}

.main .body_section_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .body_section_wrapper input {
  text-align: center;
  border-radius: 5px;
}

.main .body_section:first-child .body_section_wrapper {
  justify-content: space-between;
}

.main .body_section:first-child .body_section_wrapper label + label {
  margin-left: 32px;
}

.main .body_section:first-child .body_section_wrapper label {
  width: 100%;
}

.main .body_section_list li + li {
  margin-top: 32px;
}

.main .body_section_data {
  text-align: center;
}

.main .body_section_data dt:not(:first-child) {
  margin-top: 32px;
}

.main .body_section_data dd {
  margin-top: 8px;
}

.main .body_section .link {
  display: block;
  padding: 20px 0;
  text-align: center;
  border: 2px solid #343535;
  border-radius: 10px;
}

.main .body_section label {
  display: block;
  cursor: pointer;
  padding: 16px;
  border: 2px solid #343535;
  border-radius: 5px;
}

.main .body_section label.active {
  color: #fff;
  background: #343535;
}

.main .body_section label span {
  font-size: 1rem;
}

.main .body_section input {
  margin-right: 8px;
  padding: 5px 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #343535;
}
