* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  font-size: 1.6rem;
  line-height: 1.0;
  letter-spacing: 0.03em;
  color: #343535;
}

a {
  color: #343535;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

ul {
  list-style: none;
}

.main h1 {
  padding: 16px 3%;
  text-align: center;
  font-size: 32px;
  color: #fff;
  background: #343535;
}

.main h2 {
  margin-bottom: 48px;
  padding-left: 10px;
  border-left: 5px solid #343535;
}

.main .body_section + .body_section {
  margin-top: 40px;
}

.main .body_section h3 {
  margin-bottom: 16px;
  text-align: center;
}

.main .body_section_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .body_section_wrapper input {
  margin: 0 8px 0 0;
  text-align: center;
}

.main .body_section_wrapper label input {
  margin: 0 0 0 8px;
}

.main .body_section:nth-child(2) .body_section_wrapper {
  justify-content: space-between;
}

.main .body_section.button {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  background: #343535;
}

.main .body_list li + li {
  margin-top: 16px;
}

.main .body_list_item label input {
  margin-right: 8px;
}

.main .body_lead {
  font-size: 10px;
}

button {
  padding: 5px 10px;
}

.main_section {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  font-size: 2rem;
}

.main_section input {
  padding: 1rem;
}
