<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>カロリー計算機</title>
    <link rel="stylesheet" href="common/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="common/js/common.js"></script>
</head>
<body>
    <main id="app" class="main">
        <h1 class="main_heading">カロリー計算機</h1><!-- /.main_heading -->

        <section class="main_section">
            <h2 class="body_heading">基礎代謝を調べる</h2><!-- /.body_heading -->

            <div class="body_section">
                <h3>性別</h3>
                <div class="body_section_wrapper">
                    <label>男性<input type="radio" name="gender" value="male" checked></label>
                    <label>女性<input type="radio" name="gender" value="female"></label>
                </div><!-- /.body_section_wrapper -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <h3>年齢</h3>
                <div class="body_section_wrapper">
                    <input type="text" data-body="age">才
                </div><!-- /.body_section_wrapper -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <h3>身長</h3>
                <div class="body_section_wrapper">
                    <input type="text" data-body="height">cm
                </div><!-- /.body_section_wrapper -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <h3>体重</h3>
                <div class="body_section_wrapper">
                    <input type="text" data-body="weight">kg
                </div><!-- /.body_section_wrapper -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <h3>体脂肪率</h3>
                <div class="body_section_wrapper">
                    <input type="text" data-body="body-fat">%
                </div><!-- /.body_section_wrapper -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <h3>アクティブ度</h3>
                <ul class="body_list">
                    <li class="body_list_item">
                        <label><input type="radio" name="active" value="low" checked>座り仕事 & 運動をしない</label>
                    </li><!-- /.body_list_item -->
                    <li class="body_list_item">
                        <label><input type="radio" name="active" value="middle">重労働 or 筋トレをする</label>
                    </li><!-- /.body_list_item -->
                    <li class="body_list_item">
                        <label><input type="radio" name="active" value="high">重労働 & 筋トレをする</label>
                    </li><!-- /.body_list_item -->
                </ul><!-- /.body_list -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <h3>減量の仕方</h3>
                <ul class="body_list">
                    <li class="body_list_item">
                        <label><input type="radio" name="diet" value="carbo" checked>糖質制限</label>
                    </li><!-- /.body_list_item -->
                    <li class="body_list_item">
                        <label><input type="radio" name="diet" value="fat">脂質制限</label>
                    </li><!-- /.body_list_item -->
                </ul><!-- /.body_list -->
                <span class="body_lead">※現在機能してない</span><!-- /.body_lead -->
            </div><!-- /.body_section -->

            <div class="body_section button" data-body="button">計算スタート</div><!-- /.body_section -->

            <div class="body_section">
                <ul class="body_list">
                    <li class="body_list_item">除脂肪体重は<br>約<span data-body="lean-body"></span>kgです。<br><span class="body_lead">※脂肪の除いた体重＝筋肉＋水分＋骨＋内臓</span><!-- /.body_list_item --></p><!-- /.body_lean-body -->
                    <li class="body_list_item">基礎代謝は<br>約<span data-body="base"></span>kcalです。</p><!-- /.body_list_item -->
                    <li class="body_list_item">一日の総摂取カロリーは<br><span data-body="kcal"></span>kcalです。</p><!-- /.body_list_item -->
                </ul><!-- /.body_list -->
            </div><!-- /.body_section -->

            <div class="body_section">
                <ul class="body_list">
                    <li class="body_list_item">タンパク質は<br><span data-body="protein"></span>g</li><!-- /.body_list_item -->
                    <li class="body_list_item">脂質は<br><span data-body="fat"></span>g</li><!-- /.body_list_item -->
                    <li class="body_list_item">炭水化物は<br><span data-body="carbo"></span>g</li><!-- /.body_list_item -->
                </ul><!-- /.body_list -->
            </div><!-- /.body_section -->
            
            <div class="body_section">
                <a href="https://calorie.slism.jp/" target="_blank">食事の計算はここで</a>
            </div><!-- /.body_section -->
        </section><!-- /.main_section -->

    <section class="body_section">
        <h3 class="body_section_title">性別</h3><!-- /.body_section_title -->
        <label  class="body_section_gender" v-for="item in gender_items">
            <input type="radio" v-model="picked" :value="item.value">{{ item.label }}
        </label><!-- /.body_section_gender -->
    </section><!-- /.body_section -->

    <section class="body_section" v-for="item in body_items">
        <h3 class="body_section_title">{{item.title}}</h3><!-- /.body_section_title -->
        <div class="body_section_wrapper">
            <input type="number" :v-model="item.class">{{item.unit}}
        </div><!-- /.body_section_wrapper -->
    </section><!-- /.body_section -->

    <section class="body_section">
        <h3 class="body_section_title">アクティブ度</h3><!-- /.body_section_title -->
        <ul class="body_section_list">
            <li class="body_section_list_item" v-for="item in active_items">
                <label>
                    <input type="radio" v-model="picked" :value="item.value">{{ item.label }}
                </label>
            </li><!-- /.body_section_list_item -->
        </ul><!-- /.body_section_list -->
    </section><!-- /.body_section -->

    <section class="body_section">
        <h3 class="body_section_title">測定結果</h3><!-- /.body_section_title -->
        <div class="body_section_wrapper">
        </div><!-- /.body_section_wrapper -->
    </section><!-- /.body_section -->

    </main><!-- /.main -->

    <script>
    	var app = new Vue({
            el: '#app',
            data: {
                picked: "",
                gender_items: [
                    {
                        value: 'male',
                        label: '男性'
                    },
                    {
                        value: 'female',
                        label: '女性'
                    }
                ],
                body_items: [
                    {
                        class: 'age',
                        title: '年齢',
                        unit: '才'
                    },
                    {
                        class: 'height',
                        title: '身長',
                        unit: 'cm'
                    },
                    {
                        class: 'weight',
                        title: '体重',
                        unit: 'kg'
                    },
                    {
                        class: 'fat',
                        title: '体脂肪率',
                        unit: '%'
                    }
                ],
                active_items: [
                    {
                        value: 1.2,
                        label: '座り仕事 & 運動をしない'
                    },
                    {
                        value: 1.55,
                        label: '重労働 or 筋トレをする'
                    },
                    {
                        value: 1.725,
                        label: '重労働 & 筋トレをする'
                    }
                ],
                age: "",
                height: "",
                weight: "",
                fat: "",
            },
            computed: {
                body_value: function() {
                    return this.body_items[this.class]
                }
            }
	    })
    </script>
</body>
</html>